@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-orange: #ff6600;
  --brand-black: #000000;
  --brand-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--brand-black);
  color: var(--brand-white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
